body {
  font-size: 16px;
}

button {
  border-color: black;
  border-width: 1px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 16px;
  cursor: pointer;
}

button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

button:disabled {
  background-color: black !important;
  color: gray !important;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.0);
  cursor: not-allowed;
}
